[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "codelets"]
	path = codelets
	url = https://github.com/ttzeng/code-snippet.git
